{% extends 'base.html' %}
{% block content %}

<h1>Add Products Here</h1>

<form action="/add_product" method="POST">

    <div class="form-group">
        <label>
            Brand Name
                <input type="text" name="product_brand" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Product Name
                <input type="text" name="product_name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Price (on average)
                <input type="number" name="price" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Description
                <input type="text" name="description" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Select a product category:<br>
             <select name="product_category" class="form-control">
                <option value="1">First Step Cleanser: Removes makeup & sunscreen. Typically an oil or micellar water.</option>
                <option value="2">Second Step Cleanser: Cleans your face once makeup & sunscreen are removed. Examples include foaming wash.</option>
                <option value="3">Toner: Thin liquid consistency, applied immediately after cleansing. Usually hydrates and/or preps your skin for the next step.</option>
                <option value="4">Essence/Ampoule/Serum: Thicker liquid. Meant to address specific concerns (acne, aging, etc.)</option>
                <option value="5">Moisturizer: Cream or liquid of varying consistency. Main step for hydration in a routine.</option>
                <option value="6">Exfoliant: Helps remove dead skin cells. Can be physical like a scrub, or chemical like an AHA.</option>
                <option value="7">Mask or Sleeping Pack: Includes: sheet masks, hydrogels, clay, peel off & more.</option>
                <option value="8">Sunscreen: Cream with UVA and/or UVB protection.</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>
            Select the Beauty Type you feel the product is best suited for:<br>
             <select name="beauty_type" class="form-control">
                <option value="1">Dewdrop: Typically produces oil on most areas of the face.</option>
                <option value="2">Combination: May produce oil on certain areas of the face and be dry in others.</option>
                <option value="3">Normal: Skin is neither particularly dry nor particularly oil in most areas.</option>
                <option value="4">Dry: Skin is dry on most or all of face.</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>
            Select the skin concern you feel this product best addresses/is best for.<br> If the product addresses more than one of the below,<br> please select the concern that you feel it most benefits.<br>
             <select name="concern" class="form-control">
                <option value="1">Acne</option>
                <option value="2">Aging</option>
                <option value="3">Dryness</option>
                <option value="4">Dullness</option>
                <option value="5">Oiliness</option>
                <option value="6">Scars or Discoloration</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Add Your Product" class="btn btn-danger">
    </div>

</form>

{% endblock %}