<!doctype html>
<html>
<head>

  <title>GlowBB</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- link the css I'm about to make right here -->

</head>

<body>
<div class="container-fluid">

  GlowBB

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a>
{% endif %}

  <hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

  {% block content %} put your content here {% endblock %}
</div>
</body>
</html>