{% extends 'base.html' %}
{% block content %}

<h2>Beauty Type Details</h2>

<p>You are a {{ beauty_type.beauty_type_name }}!</p>
<p>According to your profile, your skin type is {{ user.skin_type }} and you have the following skin care concerns:</p>
<ul>
  {% if "user_id" in session %}
      {% if user.concerns %}
          {% for concern in user.concerns %}
               <li>{{ concern.concern_name }}</li>
          {% endfor %}
      {% endif %}
  {% endif %}
</ul>



<h3>What does that mean?</h3><br>
<p>Paragraph about the beauty type indicated and the types of products best used for it.</p>
<h3>General Tips</h3><br>
    <ul>
        <li>Tip 1</li>
        <li>Tip 2</li>
        <li>Tip 3</li>
        <li>Tip 4</li>
        <li>Tip 5</li>
    </ul><br>

  <ol>
    {% for product_category in product_categories %}
       <li>
        <a href = "/product_list/{{ beauty_type.beauty_type_id }}/{{ product_category.product_category_id }}"> {{ product_category.product_category_name }} </a>
      </li>
    {% endfor %}
        </ol>

  <h4><a href = "/">Return to Homepage</a></h4>

{% endblock %}