{% extends 'base.html' %}
{% block content %}

<h2>{{ product.product_brand }} {{ product.product_name }}</h2><br>

    <ul>
        <li>Brand: {{ product.product_brand }}</li>
        <li>Name: {{ product.product_name }}</li>
        <li>Typical Online Price: ${{ product.price }}</li>
        <li>Product Category: {{ product.product_category.product_category_name }}</li><br>
        <li>Description: {{ product.description }}</li>
    </ul><br>

    <p>This product is recommended for:
    <ul>
        <li>Beauty Type: {{ product.beauty_type.beauty_type_name }}</li>
    </ul><br>
    <p>It has an average user rating of: {{ average }}</p>

        <h2>Ratings</h2>
    </ul>
<form action="/product/{{ product.product_id }}" method="POST">
    <div class="form-group">
        <label>
            Rate this product on a scale of 1 - 5:<br>
             <select name="score" class="form-control">
                <option value=1>1 - Hate it!</option>
                <option value=2>2 - It's not very good.</option>
                <option value=3>3 - Meh.</option>
                <option value=4>4 - Like it, but it's not my HG.</option>
                <option value=5>5 - LOVE IT! HG STATUS!</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>
            Comment
                <input type="text" name="comment" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-danger">
    </div>
</form>

    {% if "user_id" in session %}
        {% if user_rating %}
        <ul><li>You currently rate this product with a score of {{ user_rating.score }} and had this to say: {{ user_rating.comment }}.</li>
        {% endif %}
    {% endif %}
<br>
    {% if product.ratings %}
        <ul>
        {% for rating in product.ratings %}
            <li>
                On (date/time here) <a href="/users/{{ rating.user_id }}">{{ rating.user.firstname }}</a> gave this product score of: {{ rating.score }} and said: {{ rating.comment }}
            </li>
        {% endfor %}
    {% endif %}

<h4><a href = "/">Return to Homepage</a></h4>

{% endblock %}