{% extends 'base.html' %}
{% block content %}

<h2>{{ product.product_brand }} {{ product.product_name }}</h2><br>

    <ul>
        <li>Brand: {{ product.product_brand }}</li>
        <li>Name: {{ product.product_name }}</li>
        <li>Price: ${{ product.price }}</li>
        <li>Description: {{ product.description }}</li>
    </ul><br>

    <p>This product is recommended for those with the:
    <ul>
        <li>Beauty Type: {{ product.beauty_type_id }}</li>
        <li>Product Category: {{ product.product_category_id }}</li>
    </ul><br>

    <p>This product can be helpful for those with the following concerns:
    <ul>
    </ul><br>

    </ul>
      <form action="/product/{{ product.product_id }}" method="POST">
    Rate this product:
    <select name="score">
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    </select>
    <input type="submit" value="Rate It!">
    </form>

     {% if "user_id" in session %}
        {% if user_rating %}
        <p><b>You currently rate this product as a {{ user_rating.score }}.</b></p>
    {% endif %}
  {% endif %}

    <p><b>Average rating:</b> {{ average }}</p>
    <!-- {% if prediction %}
      <p>We predict you will rate this product {{ prediction }}.</p>
    {% endif %} -->

        {% if product.ratings %}
        <h2>Ratings</h2>
        <ul>
        {% for rating in product.ratings %}
            <li>
                User #<b><em> <a href="/users/{{ rating.user_id }}">{{ rating.user_id }}</a></em></b> 
         gave this product a rating of: {{ rating.score }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

  <h4><a href = "/">Return to Homepage</a></h4>

{% endblock %}