{% extends 'base.html' %}
{% block content %}

<h1>Profile Form</h1>

<form action="profile" method="POST">

    <div class="form-group">
        <label>
            Question 1: Which of the following statements best describes your skin?<br>
             <select name="skin_type" class="form-control">
                <option value="Oily">My skin produces oil all over my face.</option>
                <option value="Combination">My skin only produces oil in certain areas like my forehead, nose, and/or chin/jawline.</option>
                <option value="Normal">My skin is neither very oily nor very dry.</option>
                <option value="Dry">My skin is dry.</option>
                <option value="Dehydrated">My skin is oily with very dry, flaky patches.</option>
                <option value="Sensitive">My skin is prone to blemishes and/or redness.</option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <label>
            Question 2: What are your main skin concerns. Select up to 3.<br>
            <input type="checkbox" name="concern_name" value="Acne" /> Acne<br>
            <input type="checkbox" name="concern_name" value="Aging" /> Aging<br>
            <input type="checkbox" name="concern_name" value="Blackheads" /> Blackheads or Clogged Pores<br>
            <input type="checkbox" name="concern_name" value="Dryness" /> Dryness<br>
            <input type="checkbox" name="concern_name" value="Oiliness" /> Oiliness<br>
            <input type="checkbox" name="concern_name" value="Redness" /> Redness<br>
            <input type="checkbox" name="concern_name" value="Scars" /> Scars or Discoloration<br>
            <input type="checkbox" name="concern_name" value="Sensitivity" /> Sensitivity<br>
            <input type="checkbox" name="concern_name" value="Sun" /> Sun Damage<br>

        </label>
    </div>

    <div class="form-group">
        <label>
            Question 3: Which of the following best describes your current age?<br>
            <input value="under_18" name="age" type="radio"> Under 18<br>
            <input value="19-29" name="age" type="radio"> 19-29<br>
            <input value="19-29" name="age" type="radio"> 30-39<br>
            <input value="40-49" name="age" type="radio"> 40-49<br>
            <input value="50-59" name="age" type="radio"> 50-59<br>
            <input value="60+" name="age" type="radio"> 60+<br>
        </label>
    </div>


    <div class="form-group">
        <label>
            Question 4: How would you best characterize the area in which you live?<br>
            <input value="urban" name="location" type="radio"> Urban<br>
            <input value="suburb" name="location" type="radio"> Suburb<br>
            <input value="rural" name="location" type="radio"> Rural<br>
    </div>

    <div class="form-group">
        <label>
            Question 5: What is the weather like typically where you live?<br>
            <input value="humid" name="weather" type="radio"> Humid<br>
            <input value="dry" name="weather" type="radio"> Dry<br>
            <input value="neither" name="weather" type="radio"> Neither Humid nor Dry<br>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit Profile" class="btn btn-danger">
    </div>

</form>

{% endblock %}