{% extends 'base.html' %}
{% block content %}

<h1>GlowBB Search</h1><br>
<p>Search for a product in the Asian Beauty subreddit by keyword.</p><br>



{{ submissions }} {{ query }} 
    <ul>
      {% for submission in submissions %}
          <li>
              <a href="/reddit/{{ submission.url }}">
                {{ submissions.title }} {{ submissions.url }}
              </a>
          </li>
      {% endfor %}
    </ul>

<br><br>

<p>Existing Users: <a href = "/login">Login</a></p><br>
<p>New Users: <a href = "/register">Register Here</a></p><br>
<p>Get Your Beauty Type: <a href = "/profile">Fill Out The Profile Form</a></p><br>
<p>Add Product: <a href = "/add_product">Add To The Site</a></p><br>

{% endblock %}