{% extends 'base.html' %}
{% block content %}

<h1>Registration Form</h1>

<h2>Please provide your information below:</h2>
<form action="register" method="POST">
    <label>Email Address:
    <input type"email" name="email"></input>
    </label>
    <br>
    <label>Password:
    <input type"password" name="password"></input>
    </label>
    <br>
    <label>Zipcode:
    <input type"text" name="zipcode"></input>
    </label>
    <br>
    <p><input type="submit" value="Register"></p>
</form>




{% endblock %}