{% extends 'base.html' %}
{% block content %}

<h1>Registration Form</h1>

<h2>Please provide your information below:</h2>
<form action="register" method="POST">
    <label>Email Address:
    <p>Enter your email address: <input type"email" name="email"></input></p>
    </label>
    <br>
    <label>Password:
    <p>Enter your password: <input type"password" name="password"></input></p>
    </label>
    <br>
    <label>Age:
    <p>Enter your age: <input type"number" name="age"></input></p>
    </label>
    <br>
    <label>Zipcode:
    <p>Enter your zipcode: <input type"text" name="zipcode"></input></p>
    </label>
    <br>
    <p><input type="submit" value="Register"></p>
</form>




{% endblock %}