{% extends 'base.html' %}
{% block content %}

<h3>Asian Beauty Routine Builder</h3>

  <h4>The Skin Care Routine, The Steps & The Why:</h4>
<ul><li>Begin by double cleansing the skin Cleanser 1 followed by Cleanser 2. The double cleanse is a mainstay of the multi-step Asian skincare routine. The double cleanse is makeup/sunscreen removal + regular skin cleanse, not actually cleaning your face twice. Note: the double cleanse is typically only recommended for your evening routine. It’s usually unnecessary in the morning when you can either go straight to a Cleanser 2 type cleanser, or for dryer skin types, simply splash some water on your face.</li>

<li>Following the cleansing steps a good rule to follow is to put the thinner/watery/more easily absorbed products on first to ensure they sink easily into the skin (toners, first essences, serums, etc.) and build hydration, then you put thicker/richer/cream-type moisturizers on top, and only in the areas you need them. It may vary depending on product (some essences or serums are thicker than others for example) but most evenings you will want to apply products in the following order.</li><br>
<li>Routine #1</li>
<ol>
<li>Cleanser 1</li>
<li>Cleanser 2</li>
<li>First Treatment Essence (meant to prepare your skin for the next steps so they absorb better)</li>
<li>Toner (only in the case of hydrating toners, for “prepping” toners see below)</li>
<li>Essences, Serums and Ampoules: any/all, you can use more than one. These are the most “targeted” steps. Each is meant to assist with a specific skin care concern. Use in order of consistency (thin to thick).</li>
<li>Light lotions, sometimes known as “emulsions”.</li>
<li>Heavier gels, creams or other “occlusives”. These are meant to “seal” the other products in.</li>
</ol>

<li>If you are using an exfoliant of some type (typically not recommended more than 1-3 times a week unless you are already used to it and have hardy skin), the order is as follows.</li><br>
<li>Routine #2</li>
<ol>
<li>Cleanser 1</li>
<li>Cleanser 2</li>
<li>Prepping Toner: Those toners meant to bring the ph of your skin back down to normal before you apply an active (chemical exfoliants, vitamin c serum, etc.). This step is not necessary,however if you don’t use one, it is best to wait 15-20 minutes between washing your face and applying any actives (to get the best results).</li>
<li>Exfoliant: With chemical exfoliants, now wait 15-20 minutes before applying the next step. Wait time does not apply to physical exfoliants.
Vitamin C Serum: If you use one, it should be applied either after an exfoliant (after the 15-20 minute wait), or it can be used without/instead of an exfoliant step, immediately following a prepping toner, or 15-20 minutes after washing your face if you don’t have a prepping toner (to get the best results). It is especially important to wait if the next step includes the ingredient niaminacide, a common ingredient in first treatment essences, meant to brighten the complexion. However if used to soon after, or in conjunction with Vitamin C serum, it can cause reddening & burning of the skin.</li>
<li>After using a Vitamin C serum and/or chemical exfoliant it is recommended to wait another 15-20 minutes before moving on to the next step.</li> 
<li>At that point in the routine you can pick up from step 3 or 4 in routine #1.</li>
<li>From thin to thick, first treatment essence and/or hydrating toner, essence/serum/ampoule (excluding vitamin c serum as detailed above), lighter lotions and/or heavier moisturizers.</li><br>
</ol>

<li>Extras</li>
<ol>
<li>Masks:<br>
Sheet masks and hydrogels are used as needed, as often as you like. Typically you use them after first essence/toner, but before the essence/serum/ampoule step. But some use after the essence/serum/ampoule step since whatever you have applied to your face prior to applying the mask is absorbed extra well, in addition to the mask itself.
Clay and other wash off type masks: after cleansing, before any other steps.
Sleeping masks/packs if used would be the final step in a routine. Basically a moisturizer you rinse off in the morning. Usually for extra moisture. Sometimes meant for other issues, like dullness.</li><br>

<li>Sunscreen:<br>
Used only in the AM, it is your final 'skincare' step (meaning before makeup) should be sunscreen, and a full-spectrum one at that. This is especially true if you are using chemical exfoliants. Some of them are photosensitizing and you not only undo all the good effects, but make things worse if you are not protecting your extra-vulnerable skin from sun damage. Wait 20 minutes before applying makeup or going outside.</li></ol></ul><br>

  <h4><a href = "/">Return to Homepage</a></h4>

{% endblock %}