{% extends 'base.html' %}
{% block content %}

<h2>User Details</h2>

<p>Hi {{ user.firstname }} {{ user.lastname }}, your results are in. 
  You are a (user's specialty based on profile results goes here)!</p>

   <ul>
        <li>User ID: {{ user.user_id }}</li>
        <li>Name: {{ user.firstname }} {{ user.lastname }} </li>
        <li>Email: {{ user.email }}</li>
        <li>Zipcode: {{ user.zipcode }}</li><br>

        <li>Skin Type: {{ user.skin_type }}</li>
        <li>Age: {{ user.age }}</li>
        <li>Location Type: {{ user.location }}</li>
        <li>Weather Type: {{ user.weather }}</li>

    </ul>
         {% if user.ratings %}

        <h2>User Ratings</h2>
        <ul>
        {% for rating in user.ratings %}
            <li>
                You gave <a href="/products/{{ rating.product_id }}">{{ rating.product.product_name }}</a>
         the rating of: {{ rating.score }}
            </li>
    {% endfor %}
        </ul>
  {% endif %}

  <h4><a href = "/">Return to Homepage</a></h4>

{% endblock %}