{% block content %}

<h1>User Details</h1>

   <ul>
        <li>User ID: {{ user.user_id }}</li>
        <li>Name: {{ user.firstname }} {{ user.lastname }} </li>
        <li>Email: {{ user.email }}</li>
        <li>Zipcode: {{ user.zipcode }}</li>
    </ul>
         {% if user.ratings %}

        <h2>User Ratings</h2>
        <ul>
        {% for rating in user.ratings %}
            <li>
                You gave <a href="/products/{{ rating.product_id }}">{{ rating.product.product_name }}</a>
         the rating of: {{ rating.score }}
            </li>
    {% endfor %}
        </ul>
  {% endif %}

{% endblock %}